<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido!</title>
</head>
<body style=<%='background-color:'+ (locals.usuario ? locals.usuario.color : null) %>>
    <h1> Bienvenido <%= locals.usuario.name %>, gracias por visitarnos </h1>    
</body>
</html>